extends layout

block content
  section
    h1= title
    p A way to share url accross all you social media
    form(action="/", method="post")
      input(value="enter an url...", name="url")
      button(type="submit") submit
    p #{api}
    p #{error}
