doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(id="live-reload", src="http://192.168.173.103:35729/livereload.js")